@import url('https://fonts.googleapis.com/css2?family=Nerko+One&display=swap');
*{
    box-sizing: border-box;
    font-family: "Assistant",sans-serif;

}
body{
    margin: 0;
}

#nav-bar{
     width: 100%;
     height: 150%;
     position: relative;
     top: 0;
     display: flex;
     justify-content: space-between;
     align-content: center;
     background: #fff;
    .menu-button{
    margin: 7px 0 auto 10px;
    width: 40px;
    height: 40px;
    position: relative;
    align-self: flex-start;
    }
    .menu-line{
        height: 5px;
        width: 40px;
        background: #213a7f;
        margin: 7px 0;
        border-radius: 30px;
        transition: all .2s linear;
    }
    .logo-container{
    height: 60px;
    img{
        height: 100%;
        width: 100%;
    }
    }
}
.navigation-links{
    display: none;   
}
@media (min-width: 925px)
{
    
    .menu-button{
        display: none;
    }
    #nav-bar{
        width: 100%;
        height: 150%;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: center;
        align-content: center;
        background: #fff;
    }


    .navigation-links{
     
        .drop-down-carrer-list{
            display: none;
        }
        #c:hover
        {
            cursor: pointer;
            #label{
            color:#213a7f;
            font-weight: 700;
        }
            .drop-down-carrer-list{
                display: flex;
                flex-direction: column;
                position: absolute;
                background-color: #213a7f;
                color: white;
                width: 60%;
                a:hover{
                    background-color: white;
                    color: #213a7f;
                }
                
            }
        }
        a{
            text-decoration: none;
        }
        a:hover
        {
            cursor: pointer;
            color:#213a7f;
            font-weight: 700;
        }
        direction: rtl;
        display: flex;  
        align-items: center;
           
        .nav-category{
            margin: 2px;
            font-weight: 400;
        }
        span{
            margin: 1px;
        }
       
    }



}   

  
